@import "./node_modules/bulma/bulma.sass";
@import "./node_modules/bulma-prefers-dark/bulma-prefers-dark.sass";

@media(max-width: $tablet) {
  .columns.is-reversed-mobile {
    flex-direction: column-reverse;
    display: flex;
  }
}

@media(min-width: $tablet) {
  .center-absolute {
    //WE NEED CENTERING
  }
}

.buttons {
  padding: 1vh;
}

.no-drag
.ui-button
.button {
  -webkit-app-region: no-drag !important;  
}

.drag{
  height: 28px;
  width: 100%;
  margin-left: 68px;
  -webkit-app-region: drag;
}

.modal-background {
  background-color: rgba(10, 10, 10, 0.86);
}

.modal-card-body{
  background-color: #4a4a4a;
  color: #dbdbdb;
}