.hover {
    // background-color: #242424; //breaks white theme
}

.menu-content {
    user-select:none;
    max-height: 88vh;
    overflow: auto;
}

.now-watching {
    user-select:none;
    -webkit-app-region: drag;
    text-align: center;
    padding: 2vh;
    // margin-top: 8px;
}